.slider_scroll
{
	top: 0;
	left: -240px;
	width: 240px;
	position: fixed;
	z-index: 9999;
	height: 100%;
}

.slider_content
{
	background: rgb(42,63,84);
	height: 100%;
	border-right: 2px solid rgba(242,242,242,1);
	overflow: auto;
}

.slider_tab
{
	position: absolute;
	top: 20vh;
	right: -30px;
	width: 30px;
	background: rgb(42,63,84);
	color: rgb(255,255,255);
	cursor: pointer;
	text-align: center;
	padding: 9px 0;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 2px solid rgba(242,242,242,1);
	border-right: 2px solid rgba(242,242,242,1);
	border-bottom: 2px solid rgba(242,242,242,1);
}

#slider_tab span
{
	display: block;
	height: 20px;
	padding: 1px 0;
	line-height: 12px;
	text-transform: uppercase;
	font-size: 20px;
}
