ul.navigation
{
	position: relative;
	height: 30px;
	width: 100%;
	z-index: 1;
}

	ul.navigation li
	{
		position: relative;
		float: left;
		list-style: none;
		height: 100%;
		border-left: 1px solid rgb(180,180,180);
		background: rgb(42,63,84);
		cursor: pointer;
	}

		ul.navigation li a
		{
			display: block;
			padding: 0px 5px;
			color: rgb(255,255,255);
			text-decoration: none;
			height: calc(100% - 6px);
			height: 100%;
			text-align: center;
		}

	ul.navigation > li > a:hover
	{
		color: rgb(66,66,66);
		background: rgb(242,242,242);
	}

	ul.navigation li a:hover
	{
		color: rgb(66,66,66);
		background: rgb(242,242,242);
	}

	ul.navigation li ul
	{
		width: calc(100% - 2px);
		border: 1px solid rgb(242,242,242);
		display: none;
		float: left;
		position: absolute;
		margin: 0;
		padding: 0;
	}

	ul.navigation li:hover > ul
	{
		display: block;
	}

	ul.navigation ul li
	{
		width: 100%;
		border-bottom: 1px solid #DDD;
	}

		ul.navigation ul li:last-child
		{
			border-bottom: none;
		}

	ul.navigation ul a
	{
		background: rgb(42,63,84);
		width: 100%;
		height: 100%;
		padding: 2px 0px;
		color: rgb(242,242,242);
	}

		ul.navigation ul a:hover
		{
			background: rgb(242,242,242);
		}

	ul.navigation ul li:hover > ul
	{
		display: block;
		position: absolute;
		top: 0;
		left: 100%;
	}

.arrow-bottom
{
	display: inline-block;
	margin-left: 5px;
	border-top: 5px solid rgb(250,250,250);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	width: 1px;
	height: 1px;
}

.arrow-right
{
	display: inline-block;
	margin-left: 5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid rgb(250,250,250);
	width: 1px;
	height: 1px;
}
